* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav h5 {
  font-family: "Ubuntu", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.bg-ddd {
  background-color: #ddd !important;
}

.text-444 {
  color: #444;
}

.card img {
  object-fit: cover !important;
}
